#add-new-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #0dcaf0;
  box-shadow: 4px 4px 8px gray;
  z-index: 2;
}
#add-new-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

#back-menu-container {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #0dcaf0;
  box-shadow: 4px 4px 8px gray;
  z-index: 2;
}

#back-menu-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}
